.preloader-info {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #17a2b8 !important;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.preloader-warning {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #ffc107 !important;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.preloader-success {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #28a745 !important;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.preloader-dark {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #343a40 !important;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preloader-div {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader-div-xl {
  min-height: 70vh;
}
.preloader-div-mini {
  min-height: 1vh;
}

.preloader-mini {
  width: 15px;
  height: 15px;
}
